/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";

#title-container {
  margin-top: 25px;
}

#title {
  font-weight: 300 !important;
  font-style: italic;
  color: gray;
}

#navbar {
  margin-top: 0;
  text-align: right;
}

.nav-thumb {
  border-radius: 50px;
  margin: 0px 8px 0 8px;
}

#nav-login {
  padding-right: 8px;
}

.separator {
  padding: 0 5px 0 5px;
}

@media (min-width:768px) and (max-width: 991px) {
  .row > div:nth-child(2n+3) {
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .row > div:nth-child(3n+4) {
    clear: left;
  }
}
@media (min-width: 1200px) {
  .row > div:nth-child(4n+5) {
    clear: left;
  }
}
