<div>
  <% if @products %>
    <% @products.each do |p| %>
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"> <%= p.name %> | <%= image_tag(p.image) %> </span>
            <ul>
              <li>Description: <%= p.description %></li>
              <li>$<%= p.cost %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <h2>There are no products yet!</h2>
  <% end %>
</div>
